body {
  font-family: 'Fredoka One', cursive;
  background-image: url("/css/krabbypatty.jpg")

}

.jumbotron {
  opacity: .8;
  text-align: center;
  color: red;
}

.submitFont {
  color:rgb(234, 238, 2);
}

