
  .parallax {
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Fredoka One', cursive;
    background-image: url("/css/krabbypatty.jpg")
  }



.jumbotron {
  opacity: .8;
  text-align: center;
  color: red;
}

.submitFont {
  color:rgb(234, 238, 2);
}

